@import 'tailwindcss';

:root {
  --primary: #ffffff;
  --secondary: #155dfc;
  --alternative: #e5e7eb;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-alternative: var(--alternative);
}
