@import 'tailwindcss';

:root {
  --primary: #ffffff;
  --secondary: #155dfc;
  --alternative: #e5e7eb;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-alternative: var(--alternative);
}

@theme {
  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
