@import 'tailwindcss';

:root {
  --primary: #ffffff;
  --secondary: #155dfc;
  --alternative: #e5e7eb;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-alternative: var(--alternative);
}

@layer components {
  .text-header {
    @apply text-[25px] font-medium;
  }
  .text-reading {
    @apply text-[18px] font-normal;
  }
  .skill-card {
    @apply w-[157px] bg-alternative p-3;
  }
}
